* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilies */
.container {
    width: 90%;
    margin: 0 auto;
}

.main {
    background-color: #ede2b5;
    padding: 15px 0px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo {
    width: 150px;
}

.nav-ul .nav-li {
    display: inline-block;
    padding: 10px 20px;
}

.nav-li .nav-a {
    font-size: 25px;
    color: #716c53;
    font-weight: 600;
    font-family: "Poppins";
    text-decoration: none;
}